body{
    background: #EEE
}
#container{
    background: #EEE;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
#title{
    position: absolute;
    font-size: 50px;
    width: 800px;
    right: -50;
    bottom: 525;
}
#tags{
    width: 790px;
    padding: 5px;
    position: absolute;
    right: 150;
    bottom: 450;
    font-size: 15px;
}
#head{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 200px;
}
#image{
    position: absolute;
    right: 614;
    bottom: 25;
}
#credentials{
    width: 400px;
    position: absolute;
    right: 170;
    bottom: 7;
    font-size: 17.5px;
}

#quote{
    text-align: center;
    font-size: 30px;
    position: absolute;
    bottom: -140;
}
