<<<<<<< HEAD
#quote {
    font-family: rowdies;
    font-size: 20px;
    color: #7F7F7F
}
=======
#quote {
    font-family: rowdies;
    font-size: 20px;
    color: #7F7F7F
}
>>>>>>> 3e4026081ac6a1e4ad3eab61f8421b292c9f03b8
